<% include ./partials/header %>

<div class="container">
    

    <% if (!currentUser) { %>
        <h1>Welcome to TigerHopping!</h1>
    <% } else { %>
        <h1><%= currentUser.username %></h1>
    <% } %>
    

    <% bars.forEach(function (bar) { %>
        <div>
            <h2><%= bar.name %></h2>
            <h3><%= bar.username %></h3>
            <h3><%= bar.tweet %></h3>
            <form method="POST" action='<%= bar._id %>/rsvp' class="inline">
              <input type="hidden" name="extra_submit_param" value="extra_submit_value">
              <button type="submit" name="submit_param" value="submit_value" class="link-button">
                This is a link that sends a POST request
              </button>
            </form>
        </div>
    <% }) %>

</div>

<% include ./partials/footer %>